<!--Card-->

<div id="card-<%= article.id %>" class="card card-img">

  <!--Card image-->
  <div class="view overlay view-card">
        <div class="img-fluid card-img" style="background-image: url(<%= article.hero_img_url %>)" alt=""></div>
        <a href="articles/<%=article.id%>">
          <div class="mask rgba-white-slight"></div>
        </a>
  </div>

  <!--Card content-->
  <div class="card-body">
      <!--Title-->
      <h4 class="card-title"><%= article.title %></h4>
      <!--Text-->
      <p class="card-text"><% article.content %></p>
      <p class="card-text"><%= article.tagline %></p>
      <a href="#" class="btn btn-primary">Button</a>
  </div>
</div>

<!--/.Card-->
