<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <%- include('./partials/_navbar'); %>
  <header>
    <%- include('./partials/_jumbotron'); %>
  </header>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3 negative-comments" id="comments-p">
        <p>Responses</p>
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (!comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div class="col-6 article">
        <article class="article-container">
          <%- include('./partials/_article'); %>
        </article>
      </div>

        <div class="col-3 positive-comment" id="comments-n">
        <p>Responses</p>
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
        </div>
      </div>
    </div>
  </div>
</body>

</html>

