<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <%- include('./partials/_navbar'); %>
  <div class="card card-image" style="background-image: url(https://mdbootstrap.com/img/Photos/Others/gradient1.jpg);">
    <div class="text-white text-center py-5 px-4 my-5">
        <div>
            <h1 class="card-title pt-3 mb-5 font-bold text-left"><strong>Hello Darkness My Old Friend</strong></h1>
        </div>
    </div>
  </div>

  <div class="container-fluid">
    <div class="row">
      <div class="col-3 negative-comment">
        <h3>responses</h3>
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (!comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div class="col">
        <article class="article-container">
          <h1 class="article-title"><%= article.title %></h1>
          <% for (let i in article.sections) { %>
            <p class="article-content">
              <%= article.sections[i].content %>
            </p>
          <% } %>
        </article>
      </div>

        <div class="positive-comments">
          <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
        </div>
    </div>
  </div>
</body>

</html>

