<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/_head', {title: 'Index Page'}); %>
</head>

<body>
  <%- include('./partials/_navbar'); %>
  <header>
    <%- include('./partials/_jumbotron'); %>
  </header>

  <div class="container">
    <div class="row">
      <div class="col negative-comments">
        <p>Responses</p>
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (!comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
      </div>

      <div class="col-6 article">
        <article class="article-container">
          <%- include('./partials/_article'); %>
        </article>
      </div>

      <div class="col positive-comments">
        <p>Responses</p>
        <% for (let section in article.sections) { %>
          <% article.sections[section].comments.forEach(function (comment) { %>
            <% if (comment.agree) { %>
              <%- include('./partials/_comment', {comment}); %>
            <% } %>
          <% }) %>
        <% } %>
      </div>

    </div>
  </div>
</body>

</html>

